In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [10]:
data = pd.read_csv('hiring.csv')

In [11]:
data.rename( columns = {'test_score(out of 10)' : 'test_score' , 'interview_score(out of 10)' : 'interview_score',
                       'salary($)' : 'salary'} , inplace = True )

In [16]:
data.head(3)

  experience  test_score  interview_score  salary
0          0         8.0                9   50000
1          0         8.0                6   45000
2       five         6.0                7   60000

In [13]:
data.isnull().sum()

experience         2
test_score         1
interview_score    0
salary             0
dtype: int64

In [14]:

data['experience'].fillna(0, inplace=True)

data['test_score'].fillna(data['test_score'].mean(), inplace=True)

In [15]:
data.isnull().sum()

experience         0
test_score         0
interview_score    0
salary             0
dtype: int64

In [17]:
X = data.iloc[:, :3]

#Converting words to integer values
def convert_to_int(word):
    word_dict = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8,
                'nine':9, 'ten':10, 'eleven':11, 'twelve':12, 'zero':0, 0: 0}
    return word_dict[word]

X['experience'] = X['experience'].apply(lambda x : convert_to_int(x))

y = dataset.iloc[:, -1]

In [18]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [19]:
regressor.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [21]:
print( regressor.coef_)
print( regressor.intercept_)

[2827.63404314 1912.93803053 2196.9753141 ]
17237.330313727172

In [23]:
# Saving model to disk
pickle.dump(regressor, open('model.pkl','wb'))

In [24]:

# Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))
print(model.predict([[2, 9, 6]]))

[53290.89255945]